@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 350px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(187, 187, 187, 0.05);
}

.container h2{
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.75rem;
    background: #070707;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.wrapper{
    margin: 1.25rem 1.75rem;
}

.wrapper .input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    height: 53px;
    color: #000000;
    background: #ffffff;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #000000;
    padding: 0 2.85rem 0 1rem;
}

.input-box span{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #ffffff;
}

.input-box span:hover{
    color: #1fb426 !important;
}

.wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;
}

.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}

.pass-indicator#weak::before{
    width: 20%;
    background: #f30707;
}

.pass-indicator#medium::before{
    width: 50%;
    background: #ffa600;
}

.pass-indicator#strong::before{
    width: 100%;
    background: #23e709;
}

.wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
}

.pass-length .details{
    display: flex;
    justify-content: space-between;
}

.pass-length input{
    width: 100%;
    height: 5px;
}

.pass-settings .options{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.pass-settings .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% / 2);
}

.options .option:first-child{
    pointer-events: none;
}

.options .option:first-child input{
    opacity: 0.7;
}

.options .option input{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.options .option label{
    cursor: pointer;
    color: #000000;
    padding-left: 0.63rem;
}

.wrapper .generate-btn{
    width: 100%;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #129e92;
    font-size: 1.25rem;
    padding: 0.95rem;
    border-radius: 5px;
    margin: 0.1rem 0 1.0rem;
}